* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

#App {
  overflow: hidden; }

.filters__button {
  width: 2.1rem;
  height: 2.1rem;
  cursor: pointer;
  position: fixed;
  right: 4.5%;
  top: 6.5rem;
  z-index: 5; }

.filters__buttonActive {
  width: 2.1rem;
  height: 2.1rem;
  cursor: pointer;
  position: fixed;
  right: 4.5%;
  top: 6.5rem;
  z-index: 5;
  fill: #22313f; }

body::-webkit-scrollbar {
  display: none; }

.no--scroll {
  overflow: hidden; }

@keyframes animationSlideSearch {
  from {
    width: 0; }
  to {
    width: 21rem; } }

@keyframes animationDisplayContent {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes animationSlideCart {
  from {
    right: -100rem; }
  to {
    right: 0; } }

@keyframes animationProductsExtra {
  from {
    right: -10rem; }
  to {
    right: 0; } }

@keyframes animationDisplayProduct {
  from {
    opacity: 0;
    transition: all 0.45s ease-in-out; }
  to {
    opacity: 1;
    transition: all 0.45s ease-in-out; } }

@keyframes animationProductViews {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes animationSlideFilters {
  from {
    height: 0;
    margin-top: 0; }
  to {
    margin-top: 4.5rem;
    height: 6.5rem; } }

@keyframes animationSlideFilterElementObject {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes animationAuthentificationVideo {
  from {
    opacity: 0;
    filter: blur(0.45rem) brightness(5%); }
  to {
    opacity: 1;
    filter: blur(0.45rem) brightness(100%); } }

@keyframes animationAdminLinks {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes animationSearchAdmin {
  from {
    width: 0; }
  to {
    width: 14rem; } }

.header__component {
  width: 100%;
  height: 4.5rem;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99; }
  .header__component--wrapper {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .header__component--wrapper .interactions__division {
      height: 100%;
      display: flex;
      align-items: center; }
      .header__component--wrapper .interactions__division .search__component {
        height: 2.1rem;
        transition: 0.45s ease-in-out; }
        .header__component--wrapper .interactions__division .search__component input {
          width: 21rem;
          border: none;
          border-bottom: 1.4px solid darkgrey;
          background-color: transparent;
          height: 100%;
          animation: animationSlideSearch 0.45s ease-in-out forwards; }
      .header__component--wrapper .interactions__division svg {
        width: 2.1rem;
        height: 2.1rem;
        cursor: pointer; }
        .header__component--wrapper .interactions__division svg:not(:first-child) {
          margin-left: 3.2rem; }
      .header__component--wrapper .interactions__division .cartHeaderDivision {
        margin-left: 3.2rem;
        position: relative; }
        .header__component--wrapper .interactions__division .cartHeaderDivision span {
          width: 2.1rem;
          height: 2.1rem;
          border-radius: 50%;
          color: #ffffff;
          text-align: center;
          display: flex;
          justify-content: space-around;
          align-items: center;
          position: absolute;
          top: -1.1rem;
          right: -1.1rem;
          background-color: #22313f; }

.carts__component {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  animation: animationDisplayContent 0.95s ease-in-out forwards;
  overflow: hidden;
  z-index: 999; }
  .carts__component--content {
    width: 32vw;
    height: 100vh;
    background-color: #ffffff;
    animation: animationSlideCart 0.45s ease-in-out forwards;
    animation-delay: 0.45s;
    position: absolute;
    right: -100rem;
    top: 0;
    display: grid;
    grid-template-rows: 9.5rem 1fr 9.5rem; }
    @media screen and (max-width: 900px) {
      .carts__component--content {
        width: 45vw; } }
    @media screen and (max-width: 645px) {
      .carts__component--content {
        width: 65vw; } }
    @media screen and (max-width: 445px) {
      .carts__component--content {
        width: 100vw; } }
    .carts__component--content .cart__header {
      width: 90%;
      display: flex;
      align-items: center;
      margin: 0 auto; }
      .carts__component--content .cart__header svg {
        width: 3.2rem;
        height: 3.2rem;
        cursor: pointer; }
      .carts__component--content .cart__header h2 {
        text-align: center;
        font-size: 2.1rem;
        text-transform: uppercase;
        margin: 0 auto;
        font-weight: 200; }
    .carts__component--content .cart__content {
      overflow-y: scroll; }
      .carts__component--content .cart__content::-webkit-scrollbar {
        display: none; }
    .carts__component--content .cart__checkout {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 0.45rem;
      margin-bottom: 0.45rem;
      width: 90%;
      margin: 0 auto;
      padding-bottom: 0.45rem; }
      .carts__component--content .cart__checkout .product__subtotal {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .carts__component--content .cart__checkout .product__subtotal h2 {
          font-size: 2.1rem;
          text-transform: uppercase;
          font-weight: 200; }
        .carts__component--content .cart__checkout .product__subtotal p {
          font-size: 2.1rem;
          text-transform: uppercase;
          font-weight: 200; }
      .carts__component--content .cart__checkout .product__checkout button {
        width: 100%;
        height: 100%;
        border: none;
        background-color: #000000;
        cursor: pointer;
        color: #ffffff;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        transition: 0.21s ease-in-out; }
        .carts__component--content .cart__checkout .product__checkout button:hover {
          transform: scale(1.09);
          background-color: #211a23; }

.cart__items {
  width: 100%;
  height: 17rem;
  display: grid;
  align-items: center;
  border-top: 1.4px solid lightgrey;
  border-bottom: 1.4px solid lightgrey; }
  .cart__items--wrapper {
    width: 90%;
    margin: 0 auto;
    height: 65%;
    display: grid;
    grid-template-columns: 6.5rem 1fr 3.2rem;
    grid-column-gap: 0.45rem; }
    .cart__items--wrapper .product__image {
      display: grid;
      align-items: center; }
      .cart__items--wrapper .product__image img {
        width: 100%; }
    .cart__items--wrapper .product__info-interaction {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      padding-left: 1.4rem; }
      .cart__items--wrapper .product__info-interaction .product__title {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center; }
        .cart__items--wrapper .product__info-interaction .product__title h2 {
          font-size: 1.9rem;
          font-weight: 200;
          text-transform: uppercase; }
      .cart__items--wrapper .product__info-interaction .product__quantitativeDatas {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .cart__items--wrapper .product__info-interaction .product__quantitativeDatas .product__price {
          display: grid;
          align-items: center; }
          .cart__items--wrapper .product__info-interaction .product__quantitativeDatas .product__price p {
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 200; }
        .cart__items--wrapper .product__info-interaction .product__quantitativeDatas .product__quantity {
          width: 11rem;
          display: grid;
          grid-template-columns: 2.1rem 4.5rem 2.1rem;
          align-items: center;
          grid-column-gap: 0.45rem; }
          .cart__items--wrapper .product__info-interaction .product__quantitativeDatas .product__quantity svg {
            width: 2.1rem;
            height: 2.1rem;
            cursor: pointer; }
          .cart__items--wrapper .product__info-interaction .product__quantitativeDatas .product__quantity input {
            width: 4.5rem;
            height: 4.5rem;
            display: flex;
            align-items: center;
            justify-items: center;
            text-align: center;
            border: none;
            font-size: 1.4rem;
            font-weight: 900; }
          .cart__items--wrapper .product__info-interaction .product__quantitativeDatas .product__quantity input::-webkit-outer-spin-button,
          .cart__items--wrapper .product__info-interaction .product__quantitativeDatas .product__quantity input::-webkit-inner-spin-button {
            -webkit-appearance: none; }
    .cart__items--wrapper .product__remove {
      display: grid;
      align-items: center; }
      .cart__items--wrapper .product__remove svg {
        width: 2.1rem;
        height: 2.1rem;
        cursor: pointer;
        transition: 0.21s ease-in-out; }
        .cart__items--wrapper .product__remove svg:hover {
          background-color: #000000;
          fill: #ffffff;
          border-radius: 0.45rem; }

.products__component {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 9rem;
  background-color: #ffffff; }
  .products__component--wrapper {
    width: 70%;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.4rem;
    grid-row-gap: 1.4rem; }
    @media screen and (max-width: 900px) {
      .products__component--wrapper {
        width: 90%; } }
    @media screen and (max-width: 645px) {
      .products__component--wrapper {
        width: 95%;
        grid-template-columns: repeat(2, 1fr); } }

.product__individual {
  height: 45rem;
  border: 1.4px solid transparent;
  transition: 0.45s ease-in-out;
  position: relative;
  overflow-x: hidden;
  animation: animationDisplayProduct 0.45s ease-in-out forwards; }
  .product__individual .hover__products {
    position: absolute;
    height: 9rem;
    right: 0;
    top: 50%;
    transform: translateX(-50%);
    animation: animationProductsExtra 0.45s ease-in-out forwards;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .product__individual .hover__products svg {
      width: 3.5rem;
      height: 3.5rem;
      cursor: pointer;
      background-color: #000000;
      fill: #ffffff;
      padding: 0.90rem;
      border-radius: 0.45rem; }
  .product__individual:hover {
    border: 1.4px solid darkgrey; }
  .product__individual .product__division {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 12rem;
    margin: 0 auto;
    cursor: pointer; }
    .product__individual .product__division--image {
      position: relative;
      overflow: hidden; }
      .product__individual .product__division--image img {
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%); }
    .product__individual .product__division--datas {
      width: 100%;
      border-top: 1.4px solid lightgrey;
      text-align: center;
      display: grid;
      align-items: center; }
      .product__individual .product__division--datas p {
        font-size: 2.1rem;
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 0.32rem;
        color: darkgrey; }
      .product__individual .product__division--datas span {
        font-size: 1.4rem;
        color: darkgrey;
        font-weight: 900; }

.product__views {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 999;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: 0.45s ease-in-out;
  animation: animationProductViews 0.45s ease-in-out forwards; }
  .product__views--wrapper {
    width: 65vw;
    height: 42rem;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 0.45rem;
    position: relative;
    display: grid;
    align-items: center; }
    .product__views--wrapper .close__views {
      width: 3.2rem;
      height: 3.2rem;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      transition: 0.45s ease-in-out; }
      .product__views--wrapper .close__views:hover {
        padding: 0.70rem;
        background-color: #000000;
        fill: #ffffff; }
    .product__views--wrapper .loader__products {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #ffffff; }
      .product__views--wrapper .loader__products svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
    .product__views--wrapper .inner__contentWrapper {
      width: 90%;
      height: 95%;
      margin: 0 auto;
      border-radius: 0.45rem;
      display: grid;
      grid-template-columns: 32rem 1fr;
      grid-column-gap: 0.45rem; }
      .product__views--wrapper .inner__contentWrapper--image {
        border-radius: 0.45rem;
        height: 100%;
        position: relative; }
        .product__views--wrapper .inner__contentWrapper--image .image__contain {
          width: 100% !important; }
      .product__views--wrapper .inner__contentWrapper--controllers {
        border-radius: 0.45rem;
        height: 100%;
        display: grid;
        align-items: center;
        justify-items: center; }
        .product__views--wrapper .inner__contentWrapper--controllers .datas__wrapper {
          width: 90%;
          height: 95%;
          border-radius: 0.45rem; }
          .product__views--wrapper .inner__contentWrapper--controllers .datas__wrapper--title {
            width: 100%;
            padding: 2rem 0 2rem 0; }
            .product__views--wrapper .inner__contentWrapper--controllers .datas__wrapper--title h2 {
              font-size: 2.1rem;
              font-weight: 445;
              text-transform: uppercase;
              letter-spacing: 0.20rem; }
          .product__views--wrapper .inner__contentWrapper--controllers .datas__wrapper--price {
            width: 100%; }
            .product__views--wrapper .inner__contentWrapper--controllers .datas__wrapper--price p {
              font-size: 2.1rem;
              font-weight: 445;
              text-transform: uppercase; }
          .product__views--wrapper .inner__contentWrapper--controllers .datas__wrapper--datapicker {
            width: 100%;
            margin-top: 3.2rem;
            border: 2px solid lightgrey; }
          .product__views--wrapper .inner__contentWrapper--controllers .datas__wrapper--addToCart {
            margin-top: 4.5rem; }
            .product__views--wrapper .inner__contentWrapper--controllers .datas__wrapper--addToCart button {
              width: 19rem;
              height: 3.5rem;
              cursor: pointer;
              border: none;
              background-color: #000000;
              color: #ffffff;
              text-transform: uppercase;
              font-weight: 200;
              letter-spacing: 0.20rem;
              border-radius: 0.45rem; }

.slider-slide > img {
  width: 90% !important; }

.slick-slide img {
  width: 85%; }

.filters__component {
  width: 100%;
  height: 6.5rem;
  z-index: 9;
  top: 4.5rem;
  left: 0;
  background-color: #f7f7f7;
  box-shadow: 0 0 3.5rem lightgrey;
  transition: 0.45s ease-in-out;
  animation: animationSlideFilters 0.45s ease-in-out forwards;
  z-index: 99;
  display: grid;
  align-items: center;
  justify-items: center; }
  .filters__component--wrapper {
    width: 90%;
    margin: 0 auto;
    height: 4.5rem; }
    .filters__component--wrapper .filters__wrapper {
      display: inline-block;
      position: relative; }
      .filters__component--wrapper .filters__wrapper button {
        height: 4.5rem;
        background-color: transparent;
        cursor: pointer;
        font-weight: 445;
        border-radius: 0.45rem;
        padding: 0 1.4rem 0 1.4rem;
        border: 1.4px solid #dce0e0;
        outline: none; }
      .filters__component--wrapper .filters__wrapper .activeFilterTypes {
        border-color: #22313f; }
      .filters__component--wrapper .filters__wrapper:not(:first-child) {
        margin-left: 2.1rem; }

.filter__content {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 92;
  background-color: rgba(255, 255, 255, 0.5);
  left: 0;
  top: 0; }

.filter__types {
  width: 21rem;
  height: auto;
  padding: 0.45rem 3.2rem 0.45rem 3.2rem;
  border-radius: 0.45rem;
  position: absolute;
  top: 14rem;
  left: 5%;
  overflow: hidden;
  transition: all 0.45s ease-in-out;
  animation: animationSlideFilterElementObject 0.45s ease-in-out forwards;
  overflow-y: scroll;
  z-index: 9;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 36px 2px;
  background-color: #ffffff; }
  .filter__types .filterType {
    transition: 0.20s ease-in-out; }
    .filter__types .filterType:not(:first-child) {
      margin-top: 0.45rem; }
    .filter__types .filterType:hover {
      background-color: #f7f7f7; }
  .filter__types::-webkit-scrollbar {
    display: none; }

.auth__pages--login {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden; }
  .auth__pages--login .main__blured {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("./image/authentification__background.jpg");
    filter: blur(0.95rem);
    transform: scale(1.2); }
  .auth__pages--login .authentification__wrapper {
    width: 70%;
    height: 45rem;
    background-color: #ffffff;
    position: absolute;
    z-index: 99;
    border-radius: 0.45rem;
    display: grid;
    grid-template-columns: 42% 1fr; }
    .auth__pages--login .authentification__wrapper--video {
      position: relative;
      overflow: hidden; }
      .auth__pages--login .authentification__wrapper--video video {
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(1.09);
        filter: blur(0.45rem);
        animation: animationAuthentificationVideo 2s ease-in-out forwards;
        transition: 0.45s ease-in-out; }
      .auth__pages--login .authentification__wrapper--video .auth__textcontent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99; }
        .auth__pages--login .authentification__wrapper--video .auth__textcontent h2 {
          font-size: 4.5rem;
          color: #ffffff;
          font-weight: 200;
          text-align: center; }
          .auth__pages--login .authentification__wrapper--video .auth__textcontent h2 span {
            display: block; }
    .auth__pages--login .authentification__wrapper--forms {
      display: grid;
      align-items: center;
      justify-items: center; }
      .auth__pages--login .authentification__wrapper--forms .auth__form--wrapper {
        width: 70%;
        height: 70%; }
        .auth__pages--login .authentification__wrapper--forms .auth__form--wrapper h2 {
          color: #22313f;
          font-size: 2rem;
          font-weight: 200;
          margin-bottom: 0.45rem; }
          .auth__pages--login .authentification__wrapper--forms .auth__form--wrapper h2 span {
            color: dodgerblue;
            font-style: italic;
            font-weight: 900; }
        .auth__pages--login .authentification__wrapper--forms .auth__form--wrapper p {
          font-size: 1.4rem;
          font-weight: 900;
          margin-bottom: 4.5rem;
          color: #22313f; }
        .auth__pages--login .authentification__wrapper--forms .auth__form--wrapper form {
          width: 100%; }
          .auth__pages--login .authentification__wrapper--forms .auth__form--wrapper form .form__group {
            width: 100%; }
            .auth__pages--login .authentification__wrapper--forms .auth__form--wrapper form .form__group:not(:first-child) {
              margin-top: 3.2rem; }
            .auth__pages--login .authentification__wrapper--forms .auth__form--wrapper form .form__group label {
              margin-bottom: 2rem;
              font-size: 1.4rem;
              font-weight: 445;
              color: #22313f; }
            .auth__pages--login .authentification__wrapper--forms .auth__form--wrapper form .form__group input {
              width: 100%;
              border: none;
              border-bottom: 2px solid lightblue;
              outline: none;
              transition: 0.45s ease-in-out; }
              .auth__pages--login .authentification__wrapper--forms .auth__form--wrapper form .form__group input:focus {
                border-color: dodgerblue; }
          .auth__pages--login .authentification__wrapper--forms .auth__form--wrapper form button {
            margin-top: 3.2rem;
            padding: 0.45rem 4.5rem 0.45rem 4.5rem;
            border-radius: 0.45rem;
            background-color: dodgerblue;
            border: none;
            cursor: pointer;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 1.4rem;
            transition: all 0.45s ease-in-out; }
            .auth__pages--login .authentification__wrapper--forms .auth__form--wrapper form button:hover {
              background-color: #0079ef; }
        .auth__pages--login .authentification__wrapper--forms .auth__form--wrapper .form__dividor {
          width: 14rem;
          height: 1.4px;
          background-color: lightgrey;
          margin: 0 auto;
          margin-top: 3.2rem; }
        .auth__pages--login .authentification__wrapper--forms .auth__form--wrapper .redirect__signup {
          margin: 0 auto;
          margin-top: 2rem; }
          .auth__pages--login .authentification__wrapper--forms .auth__form--wrapper .redirect__signup p {
            text-align: center;
            color: #22313f;
            font-weight: 200; }
            .auth__pages--login .authentification__wrapper--forms .auth__form--wrapper .redirect__signup p a {
              color: dodgerblue;
              font-weight: 445; }

.auth__pages--register {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden; }
  .auth__pages--register .main__blured {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("./image/authentification__background.jpg");
    filter: blur(0.95rem);
    transform: scale(1.2); }
  .auth__pages--register .authentification__wrapper {
    width: 70%;
    height: 45rem;
    background-color: #ffffff;
    position: absolute;
    z-index: 99;
    border-radius: 0.45rem;
    display: grid;
    grid-template-columns: 42% 1fr; }
    .auth__pages--register .authentification__wrapper--video {
      position: relative;
      overflow: hidden; }
      .auth__pages--register .authentification__wrapper--video video {
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(1.09);
        filter: blur(0.45rem);
        animation: animationAuthentificationVideo 2s ease-in-out forwards;
        transition: 0.45s ease-in-out; }
      .auth__pages--register .authentification__wrapper--video .auth__textcontent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99; }
        .auth__pages--register .authentification__wrapper--video .auth__textcontent h2 {
          font-size: 4.5rem;
          color: #ffffff;
          font-weight: 200;
          text-align: center; }
          .auth__pages--register .authentification__wrapper--video .auth__textcontent h2 span {
            display: block; }
    .auth__pages--register .authentification__wrapper--forms {
      display: grid;
      align-items: center;
      justify-items: center; }
      .auth__pages--register .authentification__wrapper--forms .auth__form--wrapper {
        width: 70%;
        height: 90%; }
        .auth__pages--register .authentification__wrapper--forms .auth__form--wrapper h2 {
          color: #22313f;
          font-size: 2rem;
          font-weight: 200;
          margin-bottom: 0.45rem; }
          .auth__pages--register .authentification__wrapper--forms .auth__form--wrapper h2 span {
            color: dodgerblue;
            font-style: italic;
            font-weight: 900; }
        .auth__pages--register .authentification__wrapper--forms .auth__form--wrapper p {
          font-size: 1.4rem;
          font-weight: 900;
          margin-bottom: 4.5rem;
          color: #22313f; }
        .auth__pages--register .authentification__wrapper--forms .auth__form--wrapper form {
          width: 100%; }
          .auth__pages--register .authentification__wrapper--forms .auth__form--wrapper form .form__group {
            width: 100%; }
            .auth__pages--register .authentification__wrapper--forms .auth__form--wrapper form .form__group:not(:first-child) {
              margin-top: 3.2rem; }
            .auth__pages--register .authentification__wrapper--forms .auth__form--wrapper form .form__group label {
              margin-bottom: 2rem;
              font-size: 1.4rem;
              font-weight: 445;
              color: #22313f; }
            .auth__pages--register .authentification__wrapper--forms .auth__form--wrapper form .form__group input {
              width: 100%;
              border: none;
              border-bottom: 2px solid lightblue;
              outline: none;
              transition: 0.45s ease-in-out; }
              .auth__pages--register .authentification__wrapper--forms .auth__form--wrapper form .form__group input:focus {
                border-color: dodgerblue; }
          .auth__pages--register .authentification__wrapper--forms .auth__form--wrapper form button {
            margin-top: 3.2rem;
            padding: 0.45rem 4.5rem 0.45rem 4.5rem;
            border-radius: 0.45rem;
            background-color: dodgerblue;
            border: none;
            cursor: pointer;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 1.4rem;
            transition: all 0.45s ease-in-out; }
            .auth__pages--register .authentification__wrapper--forms .auth__form--wrapper form button:hover {
              background-color: #0079ef; }
        .auth__pages--register .authentification__wrapper--forms .auth__form--wrapper .form__dividor {
          width: 14rem;
          height: 1.4px;
          background-color: lightgrey;
          margin: 0 auto;
          margin-top: 3.2rem; }
        .auth__pages--register .authentification__wrapper--forms .auth__form--wrapper .redirect__login {
          margin: 0 auto;
          margin-top: 2rem; }
          .auth__pages--register .authentification__wrapper--forms .auth__form--wrapper .redirect__login p {
            text-align: center;
            color: #22313f;
            font-weight: 200; }
            .auth__pages--register .authentification__wrapper--forms .auth__form--wrapper .redirect__login p a {
              color: dodgerblue;
              font-weight: 445; }

.page__admin,
.subpage__dashboard {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 3.5rem 1fr; }
  .page__admin .header__component,
  .subpage__dashboard .header__component {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.5rem;
    background-color: dodgerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .page__admin .header__component--left,
    .subpage__dashboard .header__component--left {
      height: 100%;
      display: flex;
      align-items: center; }
      .page__admin .header__component--left--logos,
      .subpage__dashboard .header__component--left--logos {
        width: 9rem;
        height: 100%;
        background-color: #0079ef;
        display: grid;
        align-items: center;
        justify-items: center; }
        .page__admin .header__component--left--logos a,
        .subpage__dashboard .header__component--left--logos a {
          color: #ffffff;
          font-size: 1.4rem;
          font-weight: 900;
          text-decoration: none;
          cursor: pointer; }
      .page__admin .header__component--left--pageswitcher,
      .subpage__dashboard .header__component--left--pageswitcher {
        width: 14rem;
        margin-left: 2rem;
        position: relative; }
        .page__admin .header__component--left--pageswitcher button,
        .page__admin .header__component--left--pageswitcher .adminInactiveLinks,
        .subpage__dashboard .header__component--left--pageswitcher button,
        .subpage__dashboard .header__component--left--pageswitcher .adminInactiveLinks {
          width: 14rem;
          height: 3.5rem;
          color: #ffffff;
          background-color: transparent;
          border: none;
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          transition: all 0.45s ease-in-out;
          padding-left: 1.4rem; }
          .page__admin .header__component--left--pageswitcher button svg,
          .page__admin .header__component--left--pageswitcher .adminInactiveLinks svg,
          .subpage__dashboard .header__component--left--pageswitcher button svg,
          .subpage__dashboard .header__component--left--pageswitcher .adminInactiveLinks svg {
            transition: all 0.45s ease-in-out;
            width: 2.1rem;
            height: 2.1rem;
            fill: #ffffff;
            margin-left: 0.45rem; }
        .page__admin .header__component--left--pageswitcher .adminActiveLinks,
        .subpage__dashboard .header__component--left--pageswitcher .adminActiveLinks {
          transition: all 0.45s ease-in-out;
          padding-left: 1.4rem; }
          .page__admin .header__component--left--pageswitcher .adminActiveLinks svg,
          .subpage__dashboard .header__component--left--pageswitcher .adminActiveLinks svg {
            transition: all 0.45s ease-in-out;
            transform: rotate(180deg); }
        .page__admin .header__component--left--pageswitcher .admin__links,
        .subpage__dashboard .header__component--left--pageswitcher .admin__links {
          position: absolute;
          top: 6.5rem;
          left: 50%;
          width: 100%;
          background-color: #f7f7f7;
          padding: 0.45rem 0 0.45rem 1.4rem;
          transform: translateX(-50%);
          border-radius: 0.45rem;
          animation: animationAdminLinks 0.45s ease-in-out forwards; }
          .page__admin .header__component--left--pageswitcher .admin__links a,
          .subpage__dashboard .header__component--left--pageswitcher .admin__links a {
            font-size: 1.4rem;
            text-decoration: none;
            cursor: pointer; }
    .page__admin .header__component--right,
    .subpage__dashboard .header__component--right {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .page__admin .header__component--right--search,
      .subpage__dashboard .header__component--right--search {
        height: 100%;
        display: flex;
        align-items: center; }
        .page__admin .header__component--right--search svg,
        .subpage__dashboard .header__component--right--search svg {
          width: 2.1rem;
          height: 2.1rem;
          fill: #ffffff;
          cursor: pointer;
          margin-left: 0.45rem; }
        .page__admin .header__component--right--search input,
        .subpage__dashboard .header__component--right--search input {
          background-color: transparent;
          border: none;
          border-bottom: 2px solid #ffffff;
          color: #ffffff;
          padding: 0.45rem;
          transition: all 0.45s ease-in-out;
          animation: animationSearchAdmin 0.45s ease-in-out forwards; }
          .page__admin .header__component--right--search input::placeholder,
          .subpage__dashboard .header__component--right--search input::placeholder {
            color: #ffffff; }
      .page__admin .header__component--right--users,
      .subpage__dashboard .header__component--right--users {
        width: 17rem;
        height: 90%;
        margin-left: 2rem;
        border-left: 1.4px solid lightgrey;
        padding-left: 1.4rem;
        padding-right: 1.4rem; }
        .page__admin .header__component--right--users .profile__admin,
        .subpage__dashboard .header__component--right--users .profile__admin {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
          .page__admin .header__component--right--users .profile__admin--image,
          .subpage__dashboard .header__component--right--users .profile__admin--image {
            width: 3.5rem;
            height: 3.5rem;
            overflow: hidden;
            border-radius: 50%; }
            .page__admin .header__component--right--users .profile__admin--image img,
            .subpage__dashboard .header__component--right--users .profile__admin--image img {
              width: 100%; }
          .page__admin .header__component--right--users .profile__admin--username a,
          .subpage__dashboard .header__component--right--users .profile__admin--username a {
            text-decoration: none;
            font-size: 1.4rem;
            color: #ffffff;
            cursor: pointer; }
  .page__admin .subheader__component,
  .subpage__dashboard .subheader__component {
    width: 100%;
    height: 4.5rem;
    border-bottom: 2px solid lightgrey;
    margin-top: 5.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center; }
    .page__admin .subheader__component--navigation,
    .subpage__dashboard .subheader__component--navigation {
      padding-left: 1.4rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%; }
      .page__admin .subheader__component--navigation a,
      .subpage__dashboard .subheader__component--navigation a {
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        color: darkgrey;
        font-size: 1.2rem; }
      .page__admin .subheader__component--navigation .active__subnavigation,
      .subpage__dashboard .subheader__component--navigation .active__subnavigation {
        text-decoration: underline;
        color: dodgerblue; }
      .page__admin .subheader__component--navigation a:not(:first-child),
      .subpage__dashboard .subheader__component--navigation a:not(:first-child) {
        margin-left: 2rem; }
    .page__admin .subheader__component--extra,
    .subpage__dashboard .subheader__component--extra {
      padding-right: 1.4rem; }

.subpage__dashboard {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 9.5rem 1fr;
  background-color: #eeeeee; }
  .subpage__dashboard .budget__details {
    width: 85%;
    margin: 0 auto;
    height: 37rem;
    display: grid;
    grid-template-rows: 4.5rem 1fr;
    margin-top: 4.5rem;
    border-radius: 0.45rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14), 0 2px 5px rgba(0, 0, 0, 0.17); }
    .subpage__dashboard .budget__details--header {
      width: 100%;
      border-radius: 0.45rem;
      background-color: #f7f7f7;
      display: grid;
      align-items: center;
      padding-left: 1.4rem; }
      .subpage__dashboard .budget__details--header h2 {
        color: darkgrey;
        font-weight: 900; }
    .subpage__dashboard .budget__details--content {
      width: 100%;
      border-radius: 0.45rem;
      background-color: #ffffff;
      display: grid;
      grid-template-columns: 42rem 1fr; }
      .subpage__dashboard .budget__details--content .budgetContent__information {
        height: 100%;
        border-right: 2px solid lightgrey;
        padding-top: 4.5rem; }
        .subpage__dashboard .budget__details--content .budgetContent__information h2 {
          font-size: 1.9rem;
          text-align: center;
          color: darkgrey;
          font-weight: 900;
          letter-spacing: 0.32rem; }
        .subpage__dashboard .budget__details--content .budgetContent__information svg {
          width: 6.5rem;
          height: 6.5rem;
          fill: dodgerblue;
          margin: 0 auto;
          text-align: center;
          display: block;
          margin-top: 3.2rem; }
        .subpage__dashboard .budget__details--content .budgetContent__information p {
          color: darkgrey;
          font-size: 1.4rem;
          text-align: center;
          width: 70%;
          margin: 0 auto;
          font-weight: 445;
          margin-top: 2rem; }
          .subpage__dashboard .budget__details--content .budgetContent__information p span {
            font-weight: 900;
            color: #767676; }
      .subpage__dashboard .budget__details--content .budgetContent__details {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 12rem;
        padding: 0 1.4rem 0 1.4rem; }
        .subpage__dashboard .budget__details--content .budgetContent__details--textinformation {
          display: grid;
          grid-template-rows: 3.5rem 1fr; }
          .subpage__dashboard .budget__details--content .budgetContent__details--textinformation .data__header {
            border-bottom: 2px solid lightgrey;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center; }
            .subpage__dashboard .budget__details--content .budgetContent__details--textinformation .data__header--description, .subpage__dashboard .budget__details--content .budgetContent__details--textinformation .data__header--amount {
              font-weight: 900;
              font-size: 1.4rem;
              color: darkgrey;
              text-transform: uppercase; }
        .subpage__dashboard .budget__details--content .budgetContent__details--numericinformation {
          border: 2px solid lightgrey;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: center; }
          .subpage__dashboard .budget__details--content .budgetContent__details--numericinformation .data__total {
            width: 100%;
            height: 90%;
            display: grid;
            grid-template-columns: repeat(2, 1fr); }
