@keyframes animationSlideSearch {
    from {
        width:0;
    }
    to {
        width:21rem;
    }
}

@keyframes animationDisplayContent {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes animationSlideCart {
    from {
        right:-100rem;
    }
    to {
        right:0;
    }
}

@keyframes animationProductsExtra {
    from {
        right:-10rem;
    }
    to {
        right:0;
    }
}

@keyframes animationDisplayProduct {
    from {
        opacity:0;
        // filter:blur(4.5px);
    }
    to {
        opacity:1;
        // filter:blur(0);
    }
}