@keyframes animationSlideSearch {
    from {
        width:0;
    }
    to {
        width:21rem;
    }
}

@keyframes animationDisplayContent {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes animationSlideCart {
    from {
        right:-100rem;
    }
    to {
        right:0;
    }
}