.product__views {
    width:100%;
    height:100vh;
    position:fixed;
    background-color:rgba(0,0,0,0.5);
    top:0;
    left:0;
    z-index:999;
    display:grid;
    align-items:center;
    justify-items:center;
    transition:0.45s ease-in-out;
    animation:animationProductViews 0.45s ease-in-out forwards;

    &--wrapper {
        width:65vw;
        height:42rem;
        background-color:$color__white;
        margin:0 auto;
        border-radius:0.45rem;
        position: relative;
        display:grid;
        align-items:center;
        
        .close__views {
            width:3.2rem;
            height:3.2rem;
            cursor: pointer;
            position: absolute;
            top:0;
            right:0;
            transition:0.45s ease-in-out;

            &:hover {
                padding:0.70rem;
                background-color:$color__black;
                fill:$color__white;
            }
        }



        .loader__products {
            position:absolute;
            width:100%;
            height:100%;
            top:0;
            left:0;
            background-color:$color__white;
            // top:50%;
            // left:50%;
            // transform:translate(-50%, -50%);

            svg {
                position: absolute;
                left:50%;
                top:50%;
                transform:translate(-50%, -50%);
            }
        }

        .inner__contentWrapper {
            width:90%;
            height:95%;
            margin:0 auto;
            // border:2.1px solid lightgrey;
            border-radius:0.45rem;
            display:grid;
            grid-template-columns:32rem 1fr;
            grid-column-gap:0.45rem;

            &--image {
                // border:2.1px solid lightgrey;
                border-radius:0.45rem;
                height:100%;
                position: relative;

                .image__contain {
                    width:100%!important;
                    // height:100%;

                    // img {
                    //     width:100%;
                    // }
                }
            }
            
            &--controllers {
                // border:2.1px solid lightgrey;
                border-radius:0.45rem;
                height:100%;
                display:grid;
                align-items:center;
                justify-items:center;

                .datas__wrapper {
                    width:90%;
                    height:95%;
                    // border:2px solid lightgrey;
                    border-radius:0.45rem;
                    
                    &--title {
                        width:100%;
                        padding:2rem 0 2rem 0;
                        // border:2px solid lightgrey;

                        h2 {
                            font-size:2.1rem;
                            font-weight:445;
                            text-transform:uppercase;
                            letter-spacing: 0.20rem;
                        }
                    }
                    
                    &--price {
                        width:100%;
                        // border:2px solid lightgray;
                        // padding:2rem 0 2rem 0;

                        p {
                            font-size:2.1rem;
                            font-weight:445;
                            text-transform:uppercase;
                        }
                    }

                    &--datapicker {
                        width:100%;
                        margin-top:3.2rem;
                        border:2px solid lightgrey;
                    }

                    &--addToCart {
                        margin-top:4.5rem;

                        button {
                            width:19rem;
                            height:3.5rem;
                            cursor: pointer;
                            border:none;
                            background-color:$color__black;
                            color:$color__white;
                            text-transform:uppercase;
                            font-weight:200;
                            letter-spacing:0.20rem;
                            border-radius:0.45rem;
                        }
                    }
                }
            }
        }
    }
}

.slider-slide > img {
    width:90%!important;
}

.slick-slide img {
    width:85%;
}