.subpage__dashboard {
    width: 100%;
    height: 100vh;
    display:grid;
    grid-template-rows:9.5rem 1fr;
    background-color:#eeeeee;

    .budget__details {
        width:85%;
        margin:0 auto;
        height:37rem;
        display:grid;
        grid-template-rows:4.5rem 1fr;
        margin-top:4.5rem;
        border-radius:0.45rem;
        box-shadow: 0 2px 5px rgba(0,0,0,0.14), 0 2px 5px rgba(0,0,0,0.17);
        // border:2px solid darkgrey;
        
        &--header {
            width:100%;
            border-radius:0.45rem;
            background-color:#f7f7f7;
            display:grid;
            align-items:center;
            padding-left:1.4rem;

            h2 {
                color:darkgrey;
                font-weight:900;
            }
        }
        
        &--content {
            width:100%;
            border-radius:0.45rem;
            background-color:$color__white;
            display:grid;
            grid-template-columns:42rem 1fr;

            .budgetContent__information {
                height:100%;
                // border:2px solid lightgrey;
                border-right:2px solid lightgrey;
                padding-top:4.5rem;

                h2 {
                    font-size:1.9rem;
                    text-align:center;
                    color:darkgrey;
                    font-weight:900;
                    letter-spacing:0.32rem;
                }

                svg {
                    width:6.5rem;
                    height:6.5rem;
                    fill:dodgerblue;
                    margin:0 auto;
                    text-align:center;
                    display:block;
                    margin-top:3.2rem
                }

                p {
                    color:darkgrey;
                    font-size:1.4rem;
                    text-align:center;
                    width:70%;
                    margin:0 auto;
                    font-weight:445;
                    margin-top:2rem;

                    span {
                        font-weight:900;
                        color:darken(darkgrey, 20%);
                    }
                }
            }
            
            .budgetContent__details {
                height:100%;
                display:grid;
                grid-template-rows:1fr 12rem;
                padding: 0 1.4rem 0 1.4rem;
                // border:2px solid lightgrey;

                &--textinformation {
                    // border:2px solid lightgrey;
                    display:grid;
                    grid-template-rows:3.5rem 1fr;

                    .data__header {
                        border-bottom:2px solid lightgrey;
                        display:flex;
                        flex-direction:row;
                        justify-content:space-between;
                        align-items:center;

                        &--description,
                        &--amount {
                            font-weight:900;
                            font-size: 1.4rem;
                            color:darkgrey;
                            text-transform: uppercase;
                        }
                    }

                    .data__content {

                    }
                }
                
                &--numericinformation {
                    border:2px solid lightgrey;
                    display:grid;
                    grid-template-columns:repeat(2, 1fr);
                    align-items:center;

                    .data__total {
                        width:100%;
                        height:90%;
                        display:grid;
                        grid-template-columns:repeat(2, 1fr);

                        &--due {
                            
                        }

                        &--numeric {

                        }
                    }
                }
            }
        }
    }
}